.register-root {
  text-align: center;
}

.register-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.register-intro {
  font-size: 15pt;
}

.app-root {
  height:100vh; 
  background-image: url(https://image.freepik.com/free-photo/close-up-blank-old-concrete-wall_23-2147856094.jpg);
  // background-image: url(https://www199.lunapic.com/editor/do-sharp.php?preview=1&bright=-8&rand=3145);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}